<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3KOUaAkspqtSLY_ZlqbntSyAsLxtXhLg</string>
	<key>GCM_SENDER_ID</key>
	<string>413060008403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>programing.event-planning-app</string>
	<key>PROJECT_ID</key>
	<string>event-planning-app-e8e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>event-planning-app-e8e6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:413060008403:ios:f5a7499a3a558fcb578726</string>
</dict>
</plist>
